.w{
	width: 940px;
}
p{font-family: MicrosoftYaHei;
    color: #333;
    margin: 0 auto;
    line-height: 30px;
    letter-spacing: .5px;
    word-wrap: break-word;
    font-size: 16px;}
	.a{
    font-size: 30px;
	}
	.b{
		color: darkred;
	}