body{
	//background-color: lightpink;
	//background-image: linear-gradient(white,);
	background-color: darkseagreen;
}
.w{
	width: 940px;
	margin: 0 auto;
	font-family: MicrosoftYaHei;
}
/*设置头部效果*/
.header{//background-color: antiquewhite;
		
		padding-top:17px ;
		padding-left: 17px;
		padding-bottom: 17px;
}
/*设置导航条效果*/
.daohangtiao{float: right;
margin-top: 20px;}
/*设置导航条列表效果*/
.daohangtiao li{//background-color: aqua;
				float: left;
				
				padding:0 25px ;
				border-left:1px black dotted ;}
.logo{
	padding: 25px 0;
}
/*设置导航条超链接效果*/
.daohangtiao a{
	color: black;
	font-size:27px  ;
}
/*设置超链接移入效果*/
.daohangtiao a:hover{
	color: #a1a1a1;
}
.anniu a{
	float: left;
	width: 17px;
	height: 17px;
	background-color: aqua;
	margin-left:7px ;
}
.photo{
	padding:  ;
	background-color: antiquewhite;
}

.zhongjianbufen{
	margin-top: 5px;
	height:380px; 
			//background-color: aqua;}
.left{float: left;
	height: 400px;
		width: 640px;
		//background-color: azure;}
.right-top{float: left;
	height: 300px;
		width: 240px;
	//background-color: black;
		margin: 30px 20px;}

.bottom{//background-color: aquamarine;
        height:auto;
		border-top:1px  dotted  ;}
		.jt{font-family: MicrosoftYaHei;
    color: #333;
    margin: 0 auto;
    line-height: 30px;
    letter-spacing: .5px;
    word-wrap: break-word;
    font-size: 16px;}
.muqinjie{font-family: MicrosoftYaHei;
    color: #333;
    margin: 10px auto;
    line-height: 30px;
    letter-spacing: .5px;
    word-wrap: break-word;
    font-size: 36px;
	}
	.x{
		font-family: MicrosoftYaHei;
		    color: #333;
		    margin: 10px auto;
		    line-height: 30px;
		    letter-spacing: .5px;
		    word-wrap: break-word;
		    font-size: 16px;
			border-bottom:1px  dotted  ;}
			tbody{width: 940px;
				display: table-row-group;
			    vertical-align: middle;
			    border-color: inherit;}
				.qwe{
					font-family: MicrosoftYaHei;
					    color: #333;
					    margin: 10px auto;
					    line-height: 30px;
					    letter-spacing: .5px;
					    word-wrap: break-word;
					    font-size: 20px;
						margin: 80px;
				}
				.sdad{
					font-family: MicrosoftYaHei;
					    color: #333;
					    margin: 0 auto;
					    line-height: 30px;
					    letter-spacing: .5px;
					    word-wrap: break-word;
					    font-size: 16px;
				}